.sec{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 33px;
color: rgb(8, 8, 9);
font-weight: 600;
margin-top: 10%;
margin-bottom: 0px;
text-align: center;
margin-left:33%;
margin-right:33%;
}

